## Baseline Configuration of the rcs3aws.db permissions templates database 
## 
## This file is read to populate the local sqlite3 database 
# I. Add all actions
add action athena getDataCatalog
add action athena getQueryExecution
add action athena startQueryExecution
add action athena stopQueryExecution
add action cloudwatch DeleteAlarms
add action cloudwatch DescribeAlarms
add action cloudwatch GetMetricData
add action cloudwatch PutMetricAlarm
add action cloudwatch PutMetricData
add action dynamodb GetItem
add action dynamodb PutItem
add action dynamodb UpdateItem
add action glue BatchCreatePartition
add action glue BatchDeletePartition
add action glue BatchDeleteTable
add action glue BatchGetPartition
add action glue CreateDatabase
add action glue CreatePartition
add action glue CreateTable
add action glue DeleteDatabase
add action glue DeletePartition
add action glue DeleteTable
add action glue GetDatabase
add action glue GetDatabases
add action glue GetPartition
add action glue GetPartitions
add action glue GetTable
add action glue GetTables
add action glue UpdateDatabase
add action glue UpdatePartition
add action glue UpdateTable
add action iam CreateAccessKey
add action iam DeleteAccessKey
add action iam ListAccessKeys
add action iam ListUsers
add action iam passRole
add action lambda InvokeFunction
add action logs CreateLogGroup
add action logs CreateLogStream
add action logs FilterLogEvents
add action logs GetLogEvents
add action logs GetLogRecord
add action logs GetQueryResults
add action logs PutLogEvents
add action logs StartQuery
add action logs StopQuery
add action s3 '*'
add action s3 AbortMultipartUpload
add action s3 BypassGovernanceRetention
add action s3 CreateAccessPoint
add action s3 CreateAccessPointForObjectLambda
add action s3 CreateBucket
add action s3 CreateJob
add action s3 CreateMultiRegionAccessPoint
add action s3 DeleteBucket
add action s3 DeleteBucketPolicy
add action s3 DeleteObject
add action s3 DeleteObjectVersion
add action s3 DescribeJob
add action s3 GetAccountPublicAccessBlock
add action s3 GetBucketAcl
add action s3 GetBucketLocation
add action s3 GetBucketLogging
add action s3 GetBucketNotification
add action s3 GetBucketObjectLockConfiguration
add action s3 GetBucketPolicy
add action s3 GetBucketPolicyStatus
add action s3 GetBucketPublicAccessBlock
add action s3 GetBucketVersioning
add action s3 GetEncryptionConfiguration
add action s3 GetLifecycleConfiguration
add action s3 GetObject
add action s3 GetObjectAcl
add action s3 GetObjectAttributes
add action s3 GetObjectRetention
add action s3 GetObjectVersion
add action s3 GetObjectVersionAcl
add action s3 GetObjectVersionAttributes
add action s3 GetObjectVersionTagging
add action s3 ListAllMyBuckets
add action s3 ListBucket
add action s3 ListBucketMultipartUploads
add action s3 ListBucketVersions
add action s3 ListJobs
add action s3 ListMultipartUploadParts
add action s3 PutBucketAcl
add action s3 PutObject
add action s3 PutObjectAcl
add action s3 RestoreObject
add action s3 UpdateJobPriority
add action s3 UpdateJobStatus
add action sns GetTopicAttributes
add action sns ListTopics
add action sns Publish
add action states StartExecution
add action states StartSyncExecution
add action sts AssumeRole

## II. Create Action Groups

addSet action athenaExecution
addToSet action athenaExecution athena getDataCatalog
addToSet action athenaExecution athena getQueryExecution
addToSet action athenaExecution athena startQueryExecution
addToSet action athenaExecution athena stopQueryExecution


addSet action cloudwatchAlarms 
addToSet action cloudwatchAlarms cloudwatch DeleteAlarms
addToSet action cloudwatchAlarms cloudwatch DescribeAlarms
addToSet action cloudwatchAlarms cloudwatch GetMetricData
addToSet action cloudwatchAlarms cloudwatch PutMetricAlarm

addSet action cloudwatchPutMetric 
addToSet action cloudwatchPutMetric cloudwatch PutMetricData

addSet action dynamoDBItems
addToSet action dynamoDBItems dynamodb GetItem
addToSet action dynamoDBItems dynamodb PutItem
addToSet action dynamoDBItems dynamodb UpdateItem

addSet action gluePermissions 
addToSet action gluePermissions glue BatchCreatePartition
addToSet action gluePermissions glue BatchDeletePartition
addToSet action gluePermissions glue BatchDeleteTable
addToSet action gluePermissions glue BatchGetPartition
addToSet action gluePermissions glue CreateDatabase 
addToSet action gluePermissions glue CreatePartition
addToSet action gluePermissions glue CreateTable
addToSet action gluePermissions glue DeleteDatabase
addToSet action gluePermissions glue DeletePartition
addToSet action gluePermissions glue DeleteTable
addToSet action gluePermissions glue GetDatabase
addToSet action gluePermissions glue GetDatabases
addToSet action gluePermissions glue GetPartition
addToSet action gluePermissions glue GetPartitions
addToSet action gluePermissions glue GetTable
addToSet action gluePermissions glue GetTables
addToSet action gluePermissions glue UpdateDatabase
addToSet action gluePermissions glue UpdatePartition
addToSet action gluePermissions glue UpdateTable


addSet action updateAccessKey 
addToSet action updateAccessKey iam CreateAccessKey
addToSet action updateAccessKey iam DeleteAccessKey
addToSet action updateAccessKey iam ListAccessKeys

addSet action listUserKeys
addToSet action listUserKeys iam ListAccessKeys
addToSet action listUserKeys iam ListUsers

addSet action iamPassRole
addToSet action iamPassRole iam passRole

addSet action lambdaInvoke 
addToSet action lambdaInvoke lambda InvokeFunction

addSet action createLogGroup
addToSet action createLogGroup logs CreateLogGroup

addSet action putLogEvents 
addToSet action putLogEvents logs CreateLogStream
addToSet action putLogEvents logs PutLogEvents

addSet action processLogEvents 
addToSet action processLogEvents logs FilterLogEvents
addToSet action processLogEvents logs GetLogEvents
addToSet action processLogEvents logs GetLogRecord
addToSet action processLogEvents logs GetQueryResults
addToSet action processLogEvents logs StartQuery

addSet action stopLogQuery 
addToSet action stopLogQuery logs StopQuery

addSet action s3Any
addToSet action s3Any s3 '*'

addSet action s3BatchRestore
addToSet action s3BatchRestore s3 AbortMultipartUpload
addToSet action s3BatchRestore s3 CreateJob
addToSet action s3BatchRestore s3 DeleteObject
addToSet action s3BatchRestore s3 DescribeJob
addToSet action s3BatchRestore s3 GetAccountPublicAccessBlock
addToSet action s3BatchRestore s3 GetBucketAcl
addToSet action s3BatchRestore s3 GetBucketLocation
addToSet action s3BatchRestore s3 GetBucketLogging
addToSet action s3BatchRestore s3 GetBucketNotification
addToSet action s3BatchRestore s3 GetBucketObjectLockConfiguration
addToSet action s3BatchRestore s3 GetBucketPolicy
addToSet action s3BatchRestore s3 GetBucketPolicyStatus
addToSet action s3BatchRestore s3 GetBucketPublicAccessBlock
addToSet action s3BatchRestore s3 GetBucketVersioning
addToSet action s3BatchRestore s3 GetEncryptionConfiguration
addToSet action s3BatchRestore s3 GetLifecycleConfiguration
addToSet action s3BatchRestore s3 GetObject
addToSet action s3BatchRestore s3 GetObjectAcl
addToSet action s3BatchRestore s3 GetObjectAttributes
addToSet action s3BatchRestore s3 GetObjectRetention
addToSet action s3BatchRestore s3 GetObjectVersion
addToSet action s3BatchRestore s3 GetObjectVersionAcl
addToSet action s3BatchRestore s3 GetObjectVersionAttributes
addToSet action s3BatchRestore s3 GetObjectVersionTagging
addToSet action s3BatchRestore s3 ListBucket
addToSet action s3BatchRestore s3 ListBucketMultipartUploads
addToSet action s3BatchRestore s3 ListBucketVersions
addToSet action s3BatchRestore s3 ListJobs
addToSet action s3BatchRestore s3 ListMultipartUploadParts
addToSet action s3BatchRestore s3 PutObject
addToSet action s3BatchRestore s3 PutObjectAcl

addSet action backupUserPermissions 
addToSet action backupUserPermissions s3 AbortMultipartUpload
addToSet action backupUserPermissions s3 DeleteObject
addToSet action backupUserPermissions s3 GetBucketAcl
addToSet action backupUserPermissions s3 GetBucketLocation
addToSet action backupUserPermissions s3 GetBucketLogging
addToSet action backupUserPermissions s3 GetBucketNotification
addToSet action backupUserPermissions s3 GetBucketObjectLockConfiguration
addToSet action backupUserPermissions s3 GetBucketPolicy
addToSet action backupUserPermissions s3 GetBucketPolicyStatus
addToSet action backupUserPermissions s3 GetBucketVersioning
addToSet action backupUserPermissions s3 GetEncryptionConfiguration
addToSet action backupUserPermissions s3 GetLifecycleConfiguration
addToSet action backupUserPermissions s3 GetObject
addToSet action backupUserPermissions s3 GetObjectAcl
addToSet action backupUserPermissions s3 GetObjectAttributes
addToSet action backupUserPermissions s3 GetObjectRetention
addToSet action backupUserPermissions s3 GetObjectVersion
addToSet action backupUserPermissions s3 GetObjectVersionAcl
addToSet action backupUserPermissions s3 GetObjectVersionAttributes
addToSet action backupUserPermissions s3 GetObjectVersionTagging
addToSet action backupUserPermissions s3 ListBucket
addToSet action backupUserPermissions s3 ListBucketMultipartUploads
addToSet action backupUserPermissions s3 ListBucketVersions
addToSet action backupUserPermissions s3 ListMultipartUploadParts
addToSet action backupUserPermissions s3 PutObject
addToSet action backupUserPermissions s3 PutObjectAcl


addSet action limitedS3Permissions
addToSet action limitedS3Permissions s3 AbortMultipartUpload
addToSet action limitedS3Permissions s3 GetBucketLocation
addToSet action limitedS3Permissions s3 GetObject
addToSet action limitedS3Permissions s3 ListBucket
addToSet action limitedS3Permissions s3 ListBucketMultipartUploads
addToSet action limitedS3Permissions s3 ListMultipartUploadParts

addSet action dangerousS3Permissions
addToSet action dangerousS3Permissions s3 BypassGovernanceRetention
addToSet action dangerousS3Permissions s3 CreateAccessPoint
addToSet action dangerousS3Permissions s3 CreateAccessPointForObjectLambda
addToSet action dangerousS3Permissions s3 CreateBucket
addToSet action dangerousS3Permissions s3 CreateMultiRegionAccessPoint
addToSet action dangerousS3Permissions s3 DeleteBucket
addToSet action dangerousS3Permissions s3 DeleteBucketPolicy
addToSet action dangerousS3Permissions s3 DeleteObjectVersion
addToSet action dangerousS3Permissions s3 PutBucketAcl

addSet action bypassGovernance
addToSet action bypassGovernance s3 BypassGovernanceRetention

addSet action s3BatchJobs 
addToSet action s3BatchJobs s3 CreateJob
addToSet action s3BatchJobs s3 DescribeJob
addToSet action s3BatchJobs s3 ListJobs
addToSet action s3BatchJobs s3 UpdateJobPriority
addToSet action s3BatchJobs s3 UpdateJobStatus

addSet action deleteBucket 
addToSet action deleteBucket s3 DeleteBucket

addSet action s3ListPutDeleteObjects 
addToSet action s3ListPutDeleteObjects s3 DeleteObject
addToSet action s3ListPutDeleteObjects s3 GetObject
addToSet action s3ListPutDeleteObjects s3 ListBucket
addToSet action s3ListPutDeleteObjects s3 PutObject

addSet action s3GetDeleteObjects 
addToSet action s3GetDeleteObjects s3 DeleteObject
addToSet action s3GetDeleteObjects s3 GetObject

addSet action listS3BatchJobs 
addToSet action listS3BatchJobs s3 DescribeJob
addToSet action listS3BatchJobs s3 ListJobs

addSet action readBucketAndAttributes 
addToSet action readBucketAndAttributes s3 GetAccountPublicAccessBlock
addToSet action readBucketAndAttributes s3 GetBucketAcl
addToSet action readBucketAndAttributes s3 GetBucketLocation
addToSet action readBucketAndAttributes s3 GetBucketLogging
addToSet action readBucketAndAttributes s3 GetBucketNotification
addToSet action readBucketAndAttributes s3 GetBucketPolicy
addToSet action readBucketAndAttributes s3 GetBucketPolicyStatus
addToSet action readBucketAndAttributes s3 GetBucketPublicAccessBlock
addToSet action readBucketAndAttributes s3 GetEncryptionConfiguration
addToSet action readBucketAndAttributes s3 GetObject
addToSet action readBucketAndAttributes s3 GetObjectAcl
addToSet action readBucketAndAttributes s3 GetObjectAttributes
addToSet action readBucketAndAttributes s3 ListBucket

addSet action getObjectVersion 
addToSet action getObjectVersion s3 GetObject
addToSet action getObjectVersion s3 GetObjectVersion
addToSet action getObjectVersion s3 ListBucket

addSet action getPutObjectVersion 
addToSet action getPutObjectVersion s3 GetObject
addToSet action getPutObjectVersion s3 GetObjectVersion
addToSet action getPutObjectVersion s3 PutObject

addSet action getObject
addToSet action getObject s3 GetObject

addSet action listAllBuckets 
addToSet action listAllBuckets s3 ListAllMyBuckets

addSet action listBucket
addToSet action listBucket s3 ListBucket

addSet action putObject
addToSet action putObject s3 PutObject

addSet action restoreObject
addToSet action restoreObject s3 RestoreObject

addSet action snsListAndPublish
addToSet action snsListAndPublish sns GetTopicAttributes
addToSet action snsListAndPublish sns ListTopics
addToSet action snsListAndPublish sns Publish

addSet action snsListTopics
addToSet action snsListTopics sns ListTopics

addSet action snsPublish
addToSet action snsPublish sns Publish

addSet action sfnExecution
addToSet action sfnExecution states StartExecution
addToSet action sfnExecution states StartSyncExecution

addSet action stsAssumeRole
addToSet action stsAssumeRole sts AssumeRole

## Resources
add resource any '*'
add resource athenaDatacatalog 'arn:aws:athena:{{REGION}}:{{ACCOUNT}}:datacatalog/*'
add resource athenaWorkgroup 'arn:aws:athena:{{REGION}}:{{ACCOUNT}}:workgroup/rcs3'
add resource dynamodbTable 'arn:aws:dynamodb:{{REGION}}:{{ACCOUNT}}:table/*{{BUCKET_POSTFIX}}'
add resource glueCatalog 'arn:aws:glue:{{REGION}}:{{ACCOUNT}}:catalog'
add resource glueDatabase 'arn:aws:glue:{{REGION}}:{{ACCOUNT}}:database/*'
add resource glueTable 'arn:aws:glue:{{REGION}}:{{ACCOUNT}}:table/*'
add resource glueUserDefinedFunction 'arn:aws:glue:{{REGION}}:{{ACCOUNT}}:userDefinedFunction/*'
add resource iamRestoreBatchPermsRole 'arn:aws:iam::{{ACCOUNT}}:role/{{OWNER}}-{{SYSTEM}}-restore-s3batch-perms-role'
add resource backupServiceAccount 'arn:aws:iam::{{ACCOUNT}}:user/{{OWNER}}-{{SYSTEM}}-sa'
add resource lambdaFunction 'arn:aws:lambda:{{REGION}}:{{ACCOUNT}}:function:{{FUNCTION}}'
add resource lambdaFunctionMethods 'arn:aws:lambda:{{REGION}}:{{ACCOUNT}}:function:{{FUNCTION}}:*'
add resource lambdaCalcUploadBytes 'arn:aws:lambda:{{REGION}}:{{ACCOUNT}}:function:calcUploadBytes'
add resource lambdaCalcUploadBytesMethods 'arn:aws:lambda:{{REGION}}:{{ACCOUNT}}:function:calcUploadBytes:*'
add resource lambdaKeyAgeMetric 'arn:aws:lambda:{{REGION}}:{{ACCOUNT}}:function:keyAgeMetric'
add resource lambdaKeyAgeMetricMethods 'arn:aws:lambda:{{REGION}}:{{ACCOUNT}}:function:keyAgeMetric:*'
add resource lambdaCreateAthenaQueries 'arn:aws:lambda:{{REGION}}:{{ACCOUNT}}:function:createAthenaQueries'
add resource lambdaCreateAthenaQueriesMethods 'arn:aws:lambda:{{REGION}}:{{ACCOUNT}}:function:createAthenaQueries:*'
add resource lambdaCreateS3BatchInput 'arn:aws:lambda:{{REGION}}:{{ACCOUNT}}:function:createS3BatchInput'
add resource lambdaCreateS3BatchInputMethods 'arn:aws:lambda:{{REGION}}:{{ACCOUNT}}:function:createS3BatchInput:*'
add resource lambdaPollCreateJobStatus 'arn:aws:lambda:{{REGION}}:{{ACCOUNT}}:function:pollCreateJobStatus'
add resource lambdaPollCreateJobStatusMethods 'arn:aws:lambda:{{REGION}}:{{ACCOUNT}}:function:pollCreateJobStatus:*'
add resource logsRegionAccountAny 'arn:aws:logs:{{REGION}}:{{ACCOUNT}}:*'
add resource loggroupCreateAthenaQueries 'arn:aws:logs:{{REGION}}:{{ACCOUNT}}:log-group:/aws/lambda/createAthenaQueries:*'
add resource loggroupCreateS3BatchInput 'arn:aws:logs:{{REGION}}:{{ACCOUNT}}:log-group:/aws/lambda/createS3BatchInput:*'
add resource loggroupPollCreateJobStatus 'arn:aws:logs:{{REGION}}:{{ACCOUNT}}:log-group:/aws/lambda/pollCreateJobStatus:*'
add resource loggroupPostCloudwatchMetrics 'arn:aws:logs:{{REGION}}:{{ACCOUNT}}:log-group:/aws/lambda/postCloudwatchMetrics:*'
add resource loggroupPrepDynamoImport 'arn:aws:logs:{{REGION}}:{{ACCOUNT}}:log-group:/aws/lambda/prepDynamoImport:*'
add resource loggroupQueryS3Restore 'arn:aws:logs:{{REGION}}:{{ACCOUNT}}:log-group:/aws/lambda/queryS3Restore:*'
add resource loggroupUpdateDynamodb 'arn:aws:logs:{{REGION}}:{{ACCOUNT}}:log-group:/aws/lambda/updateDynamodb:*'
add resource loggroupCloudtrails 'arn:aws:logs:{{REGION}}x:{{ACCOUNT}}:log-group:aws-cloudtrail-logs-xiangmix-cncm2:*'
add resource inventoryPrefix 'arn:aws:s3:::*{{INVENTORY_POSTFIX}}'
add resource inventoryRCS3Path 'arn:aws:s3:::*{{INVENTORY_POSTFIX}}/rcs3/*'
add resource reports 'arn:aws:s3:::{{REPORTS}}'
add resource reportsContents 'arn:aws:s3:::{{REPORTS}}/*'
add resource reportsOwner 'arn:aws:s3:::{{REPORTS}}/{{OWNER}}/*'
add resource backupBucketPrefix 'arn:aws:s3:::{{OWNER}}-{{SYSTEM}}-{{BUCKET_POSTFIX}}'
add resource backupBucketContents 'arn:aws:s3:::{{OWNER}}-{{SYSTEM}}-{{BUCKET_POSTFIX}}/*'
add resource inventoryBucketPrefix 'arn:aws:s3:::{{OWNER}}-{{SYSTEM}}-{{INVENTORY_POSTFIX}}'
add resource inventoryBucketPrefixContents 'arn:aws:s3:::{{OWNER}}-{{SYSTEM}}-{{INVENTORY_POSTFIX}}/*'
add resource inventoryBucketRCS3Path 'arn:aws:s3:::{{OWNER}}-{{SYSTEM}}-{{INVENTORY_POSTFIX}}/rcs3/*'
add resource snsRegionAccountAny 'arn:aws:sns:{{REGION}}:{{ACCOUNT}}:*'
add resource snsOwnerNotify 'arn:aws:sns:{{REGION}}:{{ACCOUNT}}:{{OWNER}}-{{SYSTEM}}-{{OWNER_NOTIFY}}'
add resource sfnFullMonty 'arn:aws:states:{{REGION}}:{{ACCOUNT}}:stateMachine:{{OWNER}}-{{SYSTEM}}-sfn-full-monty'


## Resource Groups

addSet resource anyResource
addToSet resource anyResource any

addSet resource athenaResources
addToSet resource athenaResources athenaDatacatalog
addToSet resource athenaResources athenaWorkgroup

addSet resource dynamodbBucket
addToSet resource dynamodbBucket dynamodbTable

addSet resource glueResources
addToSet resource glueResources glueCatalog
addToSet resource glueResources glueDatabase
addToSet resource glueResources glueTable
addToSet resource glueResources glueUserDefinedFunction

addSet resource iamS3batchPermsRole
addToSet resource iamS3batchPermsRole iamRestoreBatchPermsRole

addSet resource backupServiceAccount
addToSet resource backupServiceAccount backupServiceAccount 

addSet resource lambdaFunction
addToSet resource lambdaFunction lambdaFunction
addToSet resource lambdaFunction lambdaFunctionMethods

addSet resource lambdaCalcUploadBytes
addToSet resource lambdaCalcUploadBytes lambdaCalcUploadBytes
addToSet resource lambdaCalcUploadBytes lambdaCalcUploadBytesMethods

addSet resource lambdaKeyAgeMetric
addToSet resource lambdaKeyAgeMetric lambdaKeyAgeMetric
addToSet resource lambdaKeyAgeMetric lambdaKeyAgeMetricMethods

addSet resource lambdaCreateAthenaQueries
addToSet resource lambdaCreateAthenaQueries lambdaCreateAthenaQueries
addToSet resource lambdaCreateAthenaQueries lambdaCreateAthenaQueriesMethods

addSet resource lambdaAthenaBatch
addToSet resource lambdaAthenaBatch lambdaCreateAthenaQueries
addToSet resource lambdaAthenaBatch lambdaCreateAthenaQueriesMethods
addToSet resource lambdaAthenaBatch lambdaCreateS3BatchInput
addToSet resource lambdaAthenaBatch lambdaCreateS3BatchInputMethods
addToSet resource lambdaAthenaBatch lambdaPollCreateJobStatus
addToSet resource lambdaAthenaBatch lambdaPollCreateJobStatusMethods

addSet resource logsRegionAccountAny
addToSet resource logsRegionAccountAny logsRegionAccountAny

addSet resource restoreLoggroups
addToSet resource restoreLoggroups loggroupCreateAthenaQueries
addToSet resource restoreLoggroups loggroupCreateS3BatchInput
addToSet resource restoreLoggroups loggroupPollCreateJobStatus

addSet resource loggroupCreateAthenaQueries
addToSet resource loggroupCreateAthenaQueries loggroupCreateAthenaQueries

addSet resource loggroupCreateS3BatchInput
addToSet resource loggroupCreateS3BatchInput loggroupCreateS3BatchInput

addSet resource loggroupPollCreateJobStatus
addToSet resource loggroupPollCreateJobStatus loggroupPollCreateJobStatus

addSet resource loggroupPostCloudwatchMetrics
addToSet resource loggroupPostCloudwatchMetrics loggroupPostCloudwatchMetrics

addSet resource loggroupPrepDynamoImport
addToSet resource loggroupPrepDynamoImport loggroupPrepDynamoImport

addSet resource loggroupQueryS3Restore
addToSet resource loggroupQueryS3Restore loggroupQueryS3Restore

addSet resource loggroupUpdateDynamodb
addToSet resource loggroupUpdateDynamodb loggroupUpdateDynamodb

addSet resource loggroupCloudtrails
addToSet resource loggroupCloudtrails loggroupCloudtrails

addSet resource inventoryPrefix
addToSet resource inventoryPrefix inventoryPrefix

addSet resource inventoryRCS3Path
addToSet resource inventoryRCS3Path inventoryRCS3Path

addSet resource reports
addToSet resource reports reports

addSet resource reportsContents
addToSet resource reportsContents reportsContents

addSet resource reportsOwner
addToSet resource reportsOwner reportsOwner

addSet resource backupBucket
addToSet resource backupBucket backupBucketPrefix
addToSet resource backupBucket backupBucketContents

addSet resource backupBucketPrefix
addToSet resource backupBucketPrefix backupBucketPrefix

addSet resource backupBucketContents
addToSet resource backupBucketContents backupBucketContents

addSet resource inventoryBucket
addToSet resource inventoryBucket inventoryBucketPrefix
addToSet resource inventoryBucket inventoryBucketPrefixContents

addSet resource inventoryBucketContents
addToSet resource inventoryBucketContents inventoryBucketPrefixContents

addSet resource inventoryBucketRCS3Path
addToSet resource inventoryBucketRCS3Path inventoryBucketRCS3Path

addSet resource snsRegionAccountAny
addToSet resource snsRegionAccountAny snsRegionAccountAny

addSet resource snsOwnerNotify
addToSet resource snsOwnerNotify snsOwnerNotify

addSet resource sfnFullMonty
addToSet resource sfnFullMonty sfnFullMonty

# Principals

add principal serviceS3Batch '"Service":"batchoperations.s3.amazonaws.com"'
add principal serviceLambda '"Service":"lambda.amazonaws.com"'
add principal serviceS3 '"Service":"s3.amazonaws.com"'
add principal serviceScheduler '"Service":"scheduler.amazonaws.com"'
add principal serviceStates '"Service":"states.amazonaws.com"'

# Principal Sets
addSet principal serviceS3Batch
addToSet principal serviceS3Batch serviceS3Batch

addSet principal serviceLambda
addToSet principal serviceLambda serviceLambda

addSet principal serviceS3
addToSet principal serviceS3 serviceS3

addSet principal serviceScheduler
addToSet principal serviceScheduler serviceScheduler

addSet principal serviceStates
addToSet principal serviceStates serviceStates

# Conditions
add condition arnBackupBucket '"ArnLike" : {"aws:SourceArn": "arn:aws:s3:::{{OWNER}}-{{SYSTEM}}-{{BUCKET_POSTFIX}}"}'
add condition equalsAccount '"StringEquals" : {"aws:SourceAccount": "{{ACCOUNT}}"}'
add condition equalsAccountAndControl '"StringEquals" :  {"aws:SourceAccount": "{{ACCOUNT}}", "s3:x-amz-acl": "bucket-owner-full-control"}'
add condition s3PrefixOwner '"StringEquals" : {"s3:prefix": ["{{OWNER}}", "{{OWNER}}/"], "s3:delimiter": ["/"]}'
add condition IPRestrictions "{%- if IP_ADDRESSES is defined %}\"IpAddress\": { \"aws:SourceIp\": {{IP_ADDRESSES | tojson}} } {%- endif %}"

# Condition Sets

addSet condition arnBackupBucket
addToSet condition arnBackupBucket arnBackupBucket

addSet condition equalsAccountAndControl
addToSet condition equalsAccountAndControl equalsAccountAndControl

addSet condition equalsAccount
addToSet condition equalsAccount equalsAccount

addSet condition IPRestrictions
addToSet condition IPRestrictions IPRestrictions

addSet condition s3PrefixOwner
addToSet condition s3PrefixOwner s3PrefixOwner
addToSet condition s3PrefixOwner IPRestrictions

########################## Policies #########################
# This is where the rubber meets the road
# Do this existing JSON file
#     For each file
#         1. Generate policy statements needed (if it doesn't already exist) 
#         2. Generate the policy SET named as <existing file>  without the .json ending
#         3. Add the policy statements to the SET to complete the file definition
2
### template-policy2 component policies
add policy writeBackupBucket Allow --actionSet backupUserPermissions --resourceSet backupBucket --conditionSet IPRestrictions 
add policy readInventoryBucket Allow --actionSet readBucketAndAttributes --resourceSet inventoryBucket
add policy denyDangerousOps Deny --actionSet dangerousS3Permissions --resourceSet anyResource
add policy publishNotifications Allow --actionSet snsPublish --resourceSet snsOwnerNotify --conditionSet IPRestrictions
add policy snsListTopics Allow --actionSet snsListTopics --resourceSet snsRegionAccountAny --conditionSet IPRestrictions
add policy rotateAccessKey Allow --actionSet updateAccessKey --resourceSet backupServiceAccount --conditionSet IPRestrictions

# ====== template-policy2.json  =======
addSet policy template-policy2
addToSet policy template-policy2 writeBackupBucket
addToSet policy template-policy2 readInventoryBucket
addToSet policy template-policy2 denyDangerousOps
addToSet policy template-policy2 publishNotifications
addToSet policy template-policy2 snsListTopics 
addToSet policy template-policy2 rotateAccessKey 


## keyAgeMetric-policy component policies
add policy listUsersAndKeys Allow --actionSet listUserKeys --resourceSet anyResource 
add policy createLogGroup Allow --actionSet createLogGroup --resourceSet anyResource 
add policy createLogStream Allow --actionSet putLogEvents --resourceSet anyResource 
add policy publishMetrics Allow --actionSet cloudwatchPutMetric --resourceSet anyResource 

## ====== keyAgeMetric-policy.json ======
addSet policy keyAgeMetric-policy 
addToSet policy keyAgeMetric-policy listUsersAndKeys
addToSet policy keyAgeMetric-policy createLogGroup
addToSet policy keyAgeMetric-policy createLogStream
addToSet policy keyAgeMetric-policy publishMetrics


## calcUploadBytes-policy component policies
add policy processLogEvents Allow --actionSet processLogEvents --resourceSet loggroupCloudtrails 
add policy stopLogQuery Allow --actionSet stopLogQuery --resourceSet anyResource 

## ====== calcUploadBytes-policy.json ======
addSet policy calcUploadBytes-policy 
addToSet policy calcUploadBytes-policy processLogEvents
addToSet policy calcUploadBytes-policy stopLogQuery
addToSet policy calcUploadBytes-policy publishMetrics

## Generic lambdaAssumeRole-trust component policies

add policy lambdaAssumeRole Allow --actionSet stsAssumeRole --principalSet serviceLambda

## ====== lambdaAssumeRole-trust.json ======
#
# Can be used to generate the following files:
#   calcUploadBytes-trust.json
#   createAthenaQueries-trust.json
#   createS3BatchInput-trust.json
#   keyAgeMetric-trust.json
#   pollCreateJobStatus-trust.json
#   postCloudwatchMetrics-trust.json
#   prepDynamoImport-trust.json
#   queryS3Restore-trust.json
#   restore-lambda-perms-trust.json
#   updateDynamodb-trust.json
addSet policy lambdaAssumeRole-trust
addToSet policy lambdaAssumeRole-trust lambdaAssumeRole

## Generic schedulerAssumeRole-trust components

add policy schedulerAssumeRole Allow --actionSet stsAssumeRole --principalSet serviceScheduler --conditionSet equalsAccount

## ====== lambdaAssumeRole-trust.json ======
#
# Can be used to generate the following files:
#     calcUploadBytes-scheduler-invoke-trust.json 
#     keyAgeMetric-scheduler-invoke-trust.json
addSet policy schedulerAssumeRole-trust
addToSet policy schedulerAssumeRole-trust schedulerAssumeRole

### Generic lambdaInvoke-policy components used for scheduled lambdas
add policy lambdaInvoke Allow --actionSet lambdaInvoke --resourceSet lambdaFunction


## ====== lambdaInvoke-policy.json ======
#
# Can be used to create  {{FUNCTION}}-scheduler-invoke-policy.json where
##   {{FUNCTION}} = [calcUploadBytes,keyAgeMetric]
addSet policy lambdaInvoke-policy
addToSet policy lambdaInvoke-policy lambdaInvoke

### Generic createAthenaQueries-policy c
add policy athenaQueryLogs Allow --actionSet putLogEvents --resourceSet loggroupCreateAthenaQueries


## ====== createAthenaQueries-policy.json ======
#
# Can be used to create  {{FUNCTION}}-scheduler-invoke-policy.json where
##   {{FUNCTION}} = [calcUploadBytes,keyAgeMetric]
addSet policy createAthenaQueries-policy
addToSet policy createAthenaQueries-policy athenaQueryLogs

### createS3BatchInput-policy components 
add policy retrieveETag Allow --actionSet getObject --resourceSet inventoryRCS3Path
add policy S3BatchWriteLogEvents Allow --actionSet putLogEvents --resourceSet loggroupCreateS3BatchInput


## ====== createS3BatchInput-policy.json ======
#
addSet policy createS3BatchInput-policy
addToSet policy createS3BatchInput-policy retrieveETag
addToSet policy createS3BatchInput-policy S3BatchWriteLogEvents


### pollCreateJobsStatus-policy components 
add policy queryS3BatchJobs Allow --actionSet listS3BatchJobs --resourceSet resourceAny
add policy pollJobsStatusWriteLogEvents Allow --actionSet putLogEvents --resourceSet loggroupPollCreateJobStatus


## == pollCreateJobsStatus-policy.json ==
#
addSet policy pollCreateJobStatus-policy
addToSet policy pollCreateJobStatus-policy queryS3BatchJobs
addToSet policy pollCreateJobStatus-policy pollJobsStatusWriteLogEvents


### postCloudwatchMetrics-policy components 
add policy logsCreateLogGroup Allow --actionSet createLogGroup --resourceSet  logsRegionAccountAny
add policy postCloudwatchLogEvents Allow --actionSet putLogEvents --resourceSet loggroupPostCloudwatchMetrics


## == postCloudwatchMetrics-policy.json ==
#
addSet policy postCloudwatchMetrics-policy
addToSet policy postCloudwatchMetrics-policy logsCreateLogGroup
addToSet policy postCloudwatchMetrics-policy postCloudwatchLogEvents
addToSet policy postCloudwatchMetrics-policy publishMetrics


### prepDynamoImport-policy components 
add policy listInventoryBucket Allow --actionSet listBucket --resourceSet  inventoryPrefix
add policy deleteNonCvsObjs Allow --actionSet s3GetDeleteObjects --resourceSet inventoryRCS3Path
add policy dynamoImportWriteLogEvents Allow --actionSet putLogEvents --resourceSet loggroupPrepDynamoImport


## == prepDynamoImport-policy.json ==
#
addSet policy prepDynamoImport-policy
addToSet policy prepDynamoImport-policy listInventoryBucket
addToSet policy prepDynamoImport-policy deleteNonCvsObjs
addToSet policy prepDynamoImport-policy dynamoImportWriteLogEvents


### queryS3Restore-policy components 
add policy queryRestoreStatus Allow --actionSet getObjectVersion --resourceSet  inventoryAny
add policy queryS3RestoreWriteLogEvents Allow --actionSet putLogEvents --resourceSet loggroupQueryS3Restore


## == queryS3Restore-policy.json ==
#
addSet policy queryS3Restore-policy
addToSet policy queryS3Restore-policy queryRestoreStatus
addToSet policy queryS3Restore-policy queryS3RestoreWriteLogEvents

### restore-lambda-perms-policy components 
add policy createAndWriteLogStream Allow --actionSet putLogEvents --resourceSet restoreLoggroups
add policy getReportObject Allow --actionSet getObject --resourceSet reportsContents
add policy queryS3BatchJobsAnyResource Allow --actionSet listS3BatchJobs --resourceSet anyResource


## == restore-lambda-perms-policy.json ==
#
addSet policy restore-lambda-perms-policy
addToSet policy restore-lambda-perms-policy createAndWriteLogStream
addToSet policy restore-lambda-perms-policy getReportObject
addToSet policy restore-lambda-perms-policy queryS3BatchJobsAnyResource


### restore-stepfunc-perms-policy components 
add policy sfnAccessPrimary Allow --actionSet limitedS3Permissions --resourceSet backupBucket
add policy sfnAccessInventory Allow --actionSet limitedS3Permissions --resourceSet inventoryBucket
add policy sfnWriteToUserFolder Allow --actionSet s3ListPutDeleteObjects --resourceSet inventoryBucketRCS3Path
add policy sfnS3BatchJobsAnyResource Allow --actionSet s3BatchJobs --resourceSet anyResource
add policy sfnAthenaAccess Allow --actionSet athenaExecution --resourceSet athenaResources
add policy sfnGlueAccess Allow --actionSet gluePermissions --resourceSet glueResources
add policy sfnCloudwatchMetrics Allow --actionSet cloudwatchAlarms --resourceSet anyResource
add policy sfnListAndPublish Allow --actionSet snsListAndPublish --resourceSet anyResource
add policy sfnInvokeLambdas Allow --actionSet lambdaInvoke --resourceSet lambdaAthenaBatch
add policy sfnInstanceRole Allow --actionSet iamPassRole --resourceSet iamS3batchPermsRole
add policy sfnInvokeStepFunctionRestore Allow --actionSet sfnExecution --resourceSet sfnFullMonty


## == restore-stepfunc-perms-policy.json ==
#
addSet policy restore-stepfunc-perms-policy


addToSet policy restore-stepfunc-perms-policy sfnAccessPrimary
addToSet policy restore-stepfunc-perms-policy sfnAccessInventory
addToSet policy restore-stepfunc-perms-policy sfnWriteToUserFolder
addToSet policy restore-stepfunc-perms-policy sfnS3BatchJobsAnyResource
addToSet policy restore-stepfunc-perms-policy sfnAthenaAccess
addToSet policy restore-stepfunc-perms-policy sfnGlueAccess
addToSet policy restore-stepfunc-perms-policy sfnCloudwatchMetrics
addToSet policy restore-stepfunc-perms-policy sfnListAndPublish
addToSet policy restore-stepfunc-perms-policy sfnInvokeLambdas
addToSet policy restore-stepfunc-perms-policy sfnInstanceRole
addToSet policy restore-stepfunc-perms-policy sfnInvokeStepFunctionRestore

### restore-s3batch-perms-policy components 
add policy restoreObject2Bucket Allow --actionSet restoreObject --resourceSet backupBucketContents
add policy readManifestWriteReport Allow --actionSet getPutObjectVersion --resourceSet inventoryBucketRCS3Path

## == restore-s3batch-perms-policy.json ==
#
addSet policy restore-s3batch-perms-policy

addToSet policy restore-s3batch-perms-policy restoreObject2Bucket
addToSet policy restore-s3batch-perms-policy readManifestWriteReport

### restore-s3batch-perms-trust components 
add policy s3BatchAssumeRole Allow --actionSet stsAssumeRole --principalSet serviceS3Batch

## == restore-s3batch-perms-trust.json ==
#
addSet policy restore-s3batch-perms-trust

addToSet policy restore-s3batch-perms-trust s3BatchAssumeRole 

### updateDynamodb-policy components 
add policy updateDynamoPrintLogs Allow --actionSet putLogEvents --resourceSet loggroupUpdateDynamodb
add policy dynamoTableUpdate Allow --actionSet dynamoDBItems --resourceSet dynamodbBucket

## == updateDynamodb-policy.json ==
#
addSet policy updateDynamodb-policy

addToSet policy updateDynamodb-policy logsCreateLogGroup 
addToSet policy updateDynamodb-policy updateDynamoPrintLogs 
addToSet policy updateDynamodb-policy dynamoTableUpdate 

### template-policy3 components 
add policy readInventoryBucketIPRestricted Allow --actionSet readBucketAndAttributes --resourceSet inventoryBucket --conditionSet IPRestrictions
add policy listAllBuckets Allow --actionSet listAllBuckets --resourceSet anyResource --conditionSet IPRestrictions
add policy viewPersonalReportsFolder Allow --actionSet listAllBuckets --resourceSet reports --conditionSet s3PrefixOwner
add policy addFileToPersonalFolder Allow --actionSet s3ListPutDeleteObjects  --resourceSet reportsOwner --conditionSet IPRestrictions

## == template-policy3.json ==
#
addSet policy template-policy3

addToSet policy template-policy3 writeBackupBucket  
addToSet policy template-policy3 readInventoryBucketIPRestricted 
addToSet policy template-policy3 listAllBuckets 
addToSet policy template-policy3 viewPersonalReportsFolder 
addToSet policy template-policy3 addFileToPersonalFolder 


## == inventory-permissions components ==
add policy inventoryPermissions Allow --actionSet putObject --resourceSet inventoryBucketContents --conditionSet equalsAccountAndControl --principalSet serviceS3

addSet policy inventory-permissions
addToSet policy inventory-permissions inventoryPermissions  



